:root {
    --color: #2e2f42;
    --background-color-bat-port: #F4F4FD;
    --color-batton: #4d5ae5;
    --color-adress: #434455;
    --background-color: #FFFFFF;
    --body-text-cl: #434455;
    --batton-text-cl: #FFFFFF;
    --batton-active: #404BBF;
    --backgr-main-sect: #2E2F42;
    --backgr-team: #f4f4fd;
    --backgr-footer: #2E2F42;
    --span-cl: #2e2f42;
    --span-footer-cl: #f4f4fd;
    --header-cl: #FFFFFF;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0 auto;
    padding: 0;
}


img {
    display: block;
    width: 100%;
    height: auto;
}


body {
    font-family: Roboto, sans-serif;
    color: var(--body-text-cl);
    font-size: 16px;
    background-color: var(--background-color);

}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.head-flex {
    display: flex;
    align-items: center
}

.nav {
    display: flex;
    align-items: center;
}

.head-link {
    display: flex;
    align-items: center;
    margin-right: 76px;

    color: var(--color-batton);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.head-list {
    display: flex;
    gap: 40px;
}

.adress-list {
    display: flex;
    gap: 40px;
    margin-left: 332px;

}

.header-adress {
    align-items: center;
}


.button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;


    color: var(--background-color);
    background-color: var(--color-batton);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}



.button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio {
    padding: 96px 0;
}

.portfolio-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;


    color: var(--color-batton);
    background-color: var(--background-color-bat-port);
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: 1px solid #E7E9FC;
    border-radius: 4px;

}

.ul-port-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

}

.portfolio-lists {
    width: calc((100% - 48px) / 3);
}

.button:hover,
.button:focus {
    background-color: var(--batton-active);
}

.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--batton-active);
    color: var(--batton-text-cl);
    border: 1px solid transparent;
}

.header-line:hover,
.header-line:focus {
    color: var(--batton-active);
}

.adress-link:hover,
.adress-link:focus {
    color: var(--batton-active);
}

/*backgraund-color on sections*/
.main-section-bus {
    background-color: var(--backgr-main-sect);
    padding: 188px 0;
}

.main-header {
    max-width: 496px;
    font-size: 56px;
    color: var(--header-cl);
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.main-section {
    padding: 120px 0;
}

.main-section-img {
    padding-bottom: 120px;
}

.main-section-team {
    padding: 120px 0;
    background-color: var(--backgr-team);
}

.footer {
    background-color: var(--backgr-footer);
    padding: 100px 0;
}


/*text size, color*/


.head-link span {
    color: var(--span-cl);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;

    color: var(--color-batton);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-link span {
    color: var(--span-footer-cl);
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.fotter-paragraph {
    max-width: 264px;
    line-height: 24px;
    padding: 0;
}

.link.footer-link.container {
    padding: 0;
}

.list {
    list-style: none;

}

.span-logo {
    color: var(--span-cl);
    text-decoration: none;
}

.header-line {
    display: flex;
    padding: 24px 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color);
    list-style: none;
}

.header-adress {
    display: flex;
    font-style: normal;
}

.adress-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-adress);
}

.link {
    text-decoration: none;
}


.main-list {
    display: flex;
    gap: 24px;
}

.main-line {
    width: calc((100% - 72px) / 4);
}



.fotter-paragraph {
    font-size: 16px;
    color: var(--backgr-team);
    margin: 0;
}

.list-header {
    display: block;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color);
}

.list-paragraph {
    width: 264px;
    display: block;


    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-adress);
}

.list-paragraph-team {
    display: block;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-adress);
    text-align: center;
}

.pogr-prod-cards {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.list-header-port {
    display: block;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color);
}

.list-paragraph-port {
    display: block;

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-adress);
}

.main-header-doing {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color);
}

.header-doing-list {
    display: flex;
    gap: 24px;
}

.header-doing-link {
    display: flex;
    flex-basis: calc((100% - 48px)/3);
}

.main-header-team {
    margin-bottom: 72px;

    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color);

}

.ul-team-list {
    display: flex;
    gap: 24px;
}

.team-cards {
    padding: 32px 16px;
    border-radius: 0px 0px 4px 4px;
}

.team-list {
    width: calc((100% - 72px) / 4);
    background-color: var(--background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.list-header-team {
    display: block;
    margin-bottom: 8px;

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color);
    text-align: center;

}